* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}


.caixa-principal {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    padding-left: 2%;
}

.portfolio {
    color: rgb(255, 0, 0);
    font-size: 40px;
    font-weight: 500;
}

.caixa-principal img {
    height: 550px;
    margin-left: 50%;
    margin-top: -8%;
}

h1 {
    color: white;
    font-size: 70px;
}

h3 {
    margin-left: 30%;
    font-size: 25px;
    color: #ff0000;
}

.menu { 
    display: flex;
    margin-top: -28%;
    margin-left: 10%;
}

ul,li {  
  margin: 5;
  padding: 5;
  list-style: none;
  margin-left: 7%;
}
li {  
  position: relative;
  float: left;
  width: 80%;
  height: 50px;
  display: block;
  margin-bottom:10px;
  overflow:hidden;
  border-radius:50px;
  text-align: center;
  font-size: 150%;
  cursor: pointer;
}
.line span { 
    z-index:1;
    position:relative; 
}
.line {
  display: block;
  padding: 2px;
  line-height: 50px;
  text-decoration: none;
  color:#ffffff;
  background-color:#ff0000;
}
.line:hover { 
    background-color: #ffffff;
    color:#000000; 
    transition:0.3s;
}
.line:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -60px;
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    text-align: center;
    background-color: #ffffff;
    transition: 0.3s;
}
li:hover .line:after {
  left:-50px;
  background-color:#000000; 
}

section {
    display: flex;
    align-items: center;
    padding: 60px 15%;
    background-color: #191919;
}

section img {
    height: 400px;
    border-radius: 100%;
    border: 5px solid #ffffff;
    margin-right: 30px;
    background-color: rgb(0, 0, 0);
}

section div h2 {
    color: rgb(255, 0, 0);
    font-size: 75px;
}

section div p {
    color: #ffffff;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 60px;
}

section div button {
    color: white;
    background: #ff0000;
    height: 50px;
    width: 180px;
    font-size: 18px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

section div button:hover {
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #ff0000;
    transition: 0.5s;
}

.projetos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding-top: 50px;
    padding-right: 10%;
}

.titulo-projetos {
    color: white;
    font-size: 60px;
    text-align: center;
    background-color: #000000;
    padding-top: 50px;
}

.card {
    background-color: #191919;
    height: 380px;
    width: 300px;
    border-radius: 20px;
    padding: 20px 20px;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
}

.card img {
    height: 100px;
}

.card h5 {
    color: white;
    font-size: 24px;
}

.card p {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card a {
    background-color: #f90000;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

.card a:hover {
    color: #000000;
    background-color: #ffffff;
    transition: 0.5s;
    border: 2px solid #ff0000;
}

footer {
    background-color: #000000;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h5 {
    text-align: center;
    color: white;
    font-size: 30px;
}

footer p {
    color: white;
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 30px;
}

.social {
    display: flex;
    gap: 20px;
}

.social img {
    height: 24px;
    border-radius: 50%;
}

.social a {
    background-color: #ff0000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.social a:hover {
    background-color: #ffffff;
    transform: scale(1.7);
    transition: 0.5s;
    border: 2px solid #ff0000;
}


@media screen and (max-width: 900px){   
    .lista-menu, .caixa-principal img {
    display: none;
   }

   .caixa-principal {
    height: 20vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    text-align: center;
   }

   .portfolio {
    font-size: 30px;
    margin-left: -5%;
   }

   .menu { 
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    }

   section {
    background-color: #000000;
   }

   h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    }

    h3 {
        margin-left: 0%;
        font-size: 25px;
        color: #ff0000;
    }

   .sobre {
    flex-direction: column;
   }

   .sobre h2 {
    font-size: 350%;
    text-align: center;
    margin-top: 10%;
   }

   .sobre p {
    text-align: center;
   }

   .projetos {
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #000000;
   }

   .card-projetos {
    margin-top: -50px;
    }

   .card {
    width: 300px;
    margin-left: 12%;
    margin-top: 10%;
   }

   section div button {
    width: 300px;
    font-size: 25px;
    margin: 0 auto;
   }

   .titulo-projetos {
    font-size: 250%;
    margin-top: -5%;
   }

   .sobre img {
    height: 300px;
    margin-right: 0px;
    margin-top: 60%;
   }

   .footer {
    text-align: center;
   }

   .footer h5 {
    font-size: 20px;
   }
}